<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditonsAndLoops from "./components/ConditonsAndLoops.vue";
import FormBindings from "./components/FormBindings.vue";
import SimpleConponent from "./components/SimpleConponent.vue";
</script>

<template>
  <div>
    <SimpleConponent />
    <br />
    <br />
    <br />
    <FormBindings />
    <br />
    <br />
    <ConditonsAndLoops />
    <br />
    <br />
    <br />
    <AttributeBindings />
    <HandlingUserInput />
    <CalComponent />
    <HelloWorldExample />
  </div>
</template>

<style scoped></style>
